<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="email" value="june.t14352@gmail.com" />
		<add key="password" value="H98kS_02b" />
		<add key="baseUrl" value="https://mail.google.com" />
		<!--Set your browser-->
		<add key="Browser" value="remoteChrome"/>
	</appSettings>
</configuration>