<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="email" value="june.t14352@gmail.com" />
		<add key="password" value="H98kS_02b" />
		<add key="baseUrl" value="https://mail.google.com"/>
		<add key="addresseeValue" value="tatiana95.77@gmail.com" />
		<add key="subjectValue" value="For test" />
		<add key="bodyValue" value="This is test email" />
		<!--Set your browser-->
		<add key="Browser" value="Chrome" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.2.0" newVersion="3.13.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>