<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<appSettings>
		<add key="email" value="june.t14352@gmail.com" />
		<add key="password" value="H98kS_02b" />
		<add key="baseUrl" value="https://mail.google.com" />
		<add key="addresseeValue" value="tatiana95.77@gmail.com" />
		<add key="subjectValue" value="For test" />
		<add key="bodyValue" value="This is test email" />
		<!--<add key="log4net.Config" value="log4net.config" />
		<add key="log4net.Config.Watch" value="True" />-->
		<!--Set your browser-->
		<add key="Browser" value="Chrome" />
	</appSettings>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="FileLog.log" />
			<param name="AppendToFile" value="true" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="5MB" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d  %-5p %m%n" />
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender, log4net">
			<mapping>
				<level value="ERROR" />
				<foreColor value="White" />
				<backColor value="Red, HighIntensity" />
			</mapping>
			<target value ="Console.Out"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<!--<appender name="RP" type="ReportPortal.Logging.ReportPortalAppender, ReportPortal.Logging.Log4Net">
			<layout type="log4net.Layout.SimpleLayout"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>-->
		<logger name="Logger">
		</logger>
		<root>
			<level value="ALL" />
			<appender-ref ref="LogFileAppender" />
			<appender-ref ref="ConsoleAppender" />	
			<!--<appender-ref ref = "RP"/>-->
		</root>
	</log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.2.0" newVersion="3.13.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>